<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<!------ Include the above in your HEAD tag ---------->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>

.footer {
    overflow-x: hidden;
	background: #1a5487;
	height: auto;
	padding-bottom: 30px;
}
.footer h2, .footer li, .footer p{
color: white;
}
.footer ul{
	list-style-type: circle;
}

</style>
</head>
<body style="overflow-x: hidden;">
    <footer class="footer">
    <br>
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-4">
                <center>
                    <h2>Alpha Squad</h2>
                    <br>
                    <img src="{{url_for('static', filename='Images/logo.png')}}" alt="Alpha Squad Logo" height="100" width="100">
                </center>
            </div>
            <div class="col-sm-3">
                    <h2>Salient Features</h2>
                    <br>
                    <ul>
                        <li>Aspect Based Analysis</li>
                        <li>Web API</li>
                        <li>Progress Timeline Anaysis</li>
                        <li>Suggestions for Improvements</li>
                    </ul>  
            </div>
            <div class="col-sm-3">
                <center>
                    <h2>Contact Us</h2>
                    <br>
                    <p>alphasquad.correspondence@gmail.com</p>
                    <p>+91-7524858900</p>
                </center>
            </div>
            <div class="col-sm-1"></div>
        </div>
        <br><br><br>
        <center><h4 style="color: #cdcdcd; font-size:18px;"><b><i>"INTUITION TO INNOVATION"</i></b></h4></center>
        <br>
        <center><h3 style="color: #efefef; font-size:24px;"><b>BRAIN 1.1</b></h3></center>
        <center><p>&copy; All Rights Reserved - 2020</p></center>
    </footer>
</body>
</html>