<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sentiment Analysis - Single Comment</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <style>
        #nav-single-comment{
            color: #ffffff;
        }
    </style>
</head>

<body>
    {% if session['u-type']=='super-admin' %}
    {% include 'navbar_super_admin.html' %}
    {% elif session['u-type']=='admin' %}
    {% include 'navbar_main.html' %}
    {% else %}
    {% endif %}
    <div id="content" class="container-fluid">
        <center>
            <h3 class="heading"><b>Sentiment Analysis From Feedback</b></h3>
        </center>
        <center>
            <form action="{{ url_for('predict_single_comment')}}" method="post" class="text_input">
                <div class="row">
                    <div class="col-sm-2" id="fd_back" for="feedback"><b>Feedback</b></div>
                    <div class="col-sm-8">
                        <input type="text" name="feedback" class="fd_text" 
                        id="feedback_text" placeholder="Your Feedback Text Here...." required="required">
                    </div>
                    <div class="col-sm-2">
                        <button type="submit" class="btn btn-success btn-block btn-large" >Predict</button>
                    </div>
                </div>
            </form>
        </center>
        {% if feed_json is defined %}
        <p style="text-align: justify; color: #515151;"><b>Comment: </b>{{feed_json["comment"]}}</p>
        <hr>
        {% endif %}
        {% if predicted_result is defined %}
        <h4 id="result"> Rating of the sentiment in the scale of [1,5]: <b>{{ predicted_result }}</b> </h4>
        {% endif %}
        
        <!-- Tone Analyzer -->
        {% if tone is defined %}
            <p style="text-align: center; color: #515151;">
            {% for element in tone %}
                <b>{{element['tone_name']}} &nbsp;</b>{{(element['score']*100)|int}}% &nbsp; &nbsp;
            {% endfor %}
            </p>
        {% endif %}
        
        <!-- Entity Extractor -->
        {% if entity_json is defined %}
            <p style="text-align: center; color: #1a5487;">
            {% for element in entity_json %}
                The reviewer is talking about <b>{{element['text']}}
                </b> with <b><i>{{(element['sentiment']['score']*100)|int|abs}}% {{element['sentiment']['label']}}</i></b>
                sentiment.<br>
            {% endfor %}
            </p>
        {% endif %}
        
        
    </div>
    <div class="wrapper">
        <canvas id="myChart" width="600" height="400"></canvas>
    </div>
    <br>
    {% if session['u-type']=='super-admin' %}
    {% include 'footer_main.html' %}
    {% elif session['u-type']=='admin' %}
    {% include 'footer_main.html' %}
    {% else %}
    {% endif %}
</body>
<script>
    var result = {{predicted_result}};
     var pos_percentage = ((result-1)*25).toFixed(2);
     var chart_data = [pos_percentage, 100-pos_percentage];
     
    var ctx = document.getElementById("myChart");
    var myDoughnutChart = new Chart(ctx, {
        type: 'doughnut',
        data: { 
            labels:[
                'Positive',
                'Negative'
            ], 
            datasets: [ { 
                data: chart_data,
                backgroundColor: ["#00ff00", "#ff0000"],
                fill: false
            }]
        }
    });
</script>
</html>